.friends-div {
  position: absolute;
  width: 12rem;
  height: 4rem;  
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: start;
  align-items: center;

  background-color: var(--orange);
}

.friends-button:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10;
}

.friends-text {
  font-size: 2rem !important;
  padding-top: 0.5rem;
  margin-left: 1rem;
}