.entry {
    margin-bottom: 0; /* Optional: space between entries */
    border: 1, 0, black;
}

.entry h3 {
    margin: 0;
    padding: 0;
}

.entry p {
    margin: 0;
    padding: 0;
}

.add-buttons-div {
    width: 100%;
    height: 4rem;

    margin-top: 2rem;
    margin-bottom: 4rem;

    gap: 1rem;
    display: flex;
    justify-content: center;
}

.add-button {
  border: none;
  background-color: var(--black);
  color: var(--white);
  padding: 0.5rem 1rem;
  font-size: 32px;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease 0.25s;
}

.add-button:hover {
  cursor: pointer;
  font-size: 28px;
}

.toggles-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 4rem;
    height: 6rem;
}

.powerup-text {
    font-size: 24px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--yellow);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#carousel-container {
    margin-top: 2rem;
    width: 1000px;
    height: 500px;
    position: relative;
    perspective: 1000px;

}

#carousel-carousel {

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
    pointer-events: none;
}

.carousel-item {
    display: block;
    position: absolute;
    width: 250px;
    height: 300px;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    background-color: var(--blue);
    pointer-events: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.id-0 {
    transform: rotateY(0deg) translateZ(250px);
}

.id-1 {
    transform: rotateY(60deg) translateZ(250px);
}


.id-2 {
    transform: rotateY(120deg) translateZ(250px);
}


.id-3 {
    transform: rotateY(180deg) translateZ(250px);
}

.card-image {
    width: 150px;
    max-height: 200px;
    margin-top: 2rem;

}

.remove-button {
    background-color: var(--black);
    color: var(--white);
    transition: ease 0.15s;
    border: none;
    padding: 10px 20px;
}

.remove-button:hover {
    color: var(--black);
    cursor: pointer;
    background-color: var(--pink);
}

.next, .prev {
  color: var(--white);
  cursor: pointer;
  background: var(--black);
  transition: ease 0.1s;
  padding: 5px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.next:hover, .prev:hover {
    transform: scale(0.9);
}
.next:active, .prev:active {
  box-shadow: 0 1px 0 #999;
}

.carousel-name-text {
    font-size: 32px;
    margin: 0;
    padding: 0;
}

.carousel-holder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-container {
    background-color: var(--black);
    color: var(--white);
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease 0.2s;
    min-width: 482px !important;
}

.start-container:hover {
    font-size: 82px;
    color: var(--black);
    background: var(--yellow);
    cursor: pointer;
    content: "START GAME";
}

.start-text {
    font-size: 96px;
    padding: 0px 20px;
    margin-top: 20px;
}

.game-settings-page {
    width: 100%;
    height: 100%;
    min-height: 800px !important;
    background-color: var(--pink);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.gamemode-heading {
  position: relative;
  margin-bottom: 4rem;
  padding-bottom: 0;
}

.pop-up-login {
  position: absolute;
  display: none;
  left: 0;
  top: 0;

}

.popup-login-form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
}

.popup-login-heading {
    width: 200%;
    text-align: center;
    margin-bottom: 4rem;
    font-size: 86px !important;
}

.popup-exit-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 50px;
    color: var(--black);
    margin-right: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px !important;
}

.popup-exit-button-text {
    transition: ease 0.15s;
}

.popup-exit-button:hover {
    cursor: pointer;
    font-size: 32px !important;
}

.toggle-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.toggle-button:focus {
    outline: none;
}

.toggle-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}



#slider-value {
    display: inline-block;
}









.game-mode-page {
    width: 100%;
    height: 100%;

    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#matchmake-results {
  position: absolute;
  top: 0;
  left: 0;


  width: 100%;
  height: 100%;
    
  display: none;
  justify-content: center;
  align-items: center;

  color: var(--white);
  background: var(--black);
  z-index: 100;
}

.suggestion-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.suggestion-card {
  color: var(--black);
  background: var(--blue) !important;
}

.suggestion-exit {
  color: var(--white);
}

#suggestion-exit-button {
  z-index: 150 !important;
}

#suggestion-content {
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  width: 100%;
  height: 100%;
}

.suggestion-image {
  margin-top: 2rem;
  height: 250px;
  width: auto;
}

.suggestion-winrate-text {
  margin: 0 !important;
  padding: 0 !important;
}

.suggestion-username {
  margin: 0 !important;
  padding: 0 !important;
}

