.history-div {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.history-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tab-content {
  min-width: 800px !important;
  width: 100%;
  display: flex;
  justify-content: center;
}

.history-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  overflow-y: hidden;
}

.history-content h2 {
  font-family: 'Chakra Petch', sans-serif;
}

.history-card {
  width: 70%;
  height: 80%;
}

.tab {
    display: block;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab p {
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-size: 2.5rem;
}

.tab.active {
  background-color:var(--purple);
}

.tab-content {
    display: none;
}

.tab-content.active {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tab-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-content {
  width: 70%;
}

.history-title {
  font-size: 48px;
}


.game-card {
  width: 100%;
  height: 95px;
  margin-top: 1rem;
  padding-bottom: 0.25rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease-out 0.1s;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.game-card:hover {
  transform: scale(1.05);
}

.win {
  background-color: var(--green);
}

.lose {
  background-color: var(--pink);
}

.stale {
  background-color: grey;
}

.score {
  position: relative;
  font-size: 54px;

  margin: 0;
  padding: 0;
}

.timestamp {
  position: relative;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.gamecard-middle {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.gamecard-left {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gamecard-right {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-name {
  font-size: 48px !important;
}