.home-div {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 1000px;
  min-height: 1000px;

  position: absolute;
  text-align: center !important;
}


.home-left {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-305px, -35%);
  clip-path: polygon(87% 0, 0 0, 0 100%, 64% 100%);
}

.home-right {
  position: absolute;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-100px, -65%);
  clip-path: polygon(100% 0, 42% 0%, 20% 100%, 100% 100%);
}

.game-text-right {
  pointer-events: all;
  transition: ease-in-out 0.1s;
  z-index: 0 !important;
}

.game-text-left a {
  padding: 0 !important;
  margin: 0 !important;
  z-index: 0 !important;
  
}
.game-text-right a {
  padding: 0 !important;
  margin: 0 !important;
  z-index: 0 !important;
}

.game-text-left {
  pointer-events: all;
  transition: ease-in-out 0.1s;
  z-index: 0 !important;
}

.game-text-right:hover {
  cursor: pointer;
  transform: translate(35px, 0);
}

.game-text-left:hover {
  cursor: pointer;
  transform: translate(-35px, 0);
}

.home-middle {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 1;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-54%, -50%);
  width: 400px;
  height: 400px;

  background-color: black;

  clip-path: polygon(74% 0, 76% 0, 29% 100%, 27% 100%);
}
