/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: jmykkane <jmykkane@student.hive.fi>        +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/06/16 08:00:37 by jmykkane          #+#    #+#             */
/*   Updated: 2024/07/24 06:58:29 by jmykkane         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.black {
  background: black;
}

.white {
  background: white;
}

body {
  flex-direction: column;
  display: flex;

  width: 100dvw;
  height: 100dvh;
  max-width:100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  
  background-color: white;
  padding: 0;
  margin: 0;
}

#app {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Coluna-CondensedBold";
  src: url("../fonts/coluna.woff2");
}

.font-heading {
  font-family: 'Coluna-CondensedBold';
  letter-spacing: 5px;
  font-size: 128px;
  font-weight: 400;
}

.font-sub {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 48px;
  font-weight: 500;
}

.font-text {
  font-family: 'Lekton';
  line-height: 32px;
  font-weight: 500;
  font-size: 24px;
}


/* DEFINE ALL GLOBAL COLORS */
:root {
  --pink: rgb(245,197,195);
  --yellow: rgb(255,221,1);
  --orange: rgb(238,120,1);
  --blue: rgb(191,238,255);
  --brown: rgb(215,167,117);
  --green: rgb(110,181,11);
  --purple: rgb(184,93,152);

  --white: rgb(255,255,255);
  --black: rgb(0,0,0);

  --bg-primary: rgb(255,255,255);
  --bg-secondary: rgb(239,237,238);
}


/* NOTE: Global notification function */
.notification-div {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  height: 150px !important;
  width: 800px !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  opacity: 0;
  z-index: 15;
  margin: 0;
  padding: 0;
}

.message {
  font-size: 32px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;

  position: absolute;
  bottom: 0;
  transform: translate(0%, 50%);
}

.footer svg {
  width: 65%;
}

canvas {
  height: calc(100% - 8rem) !important;
}
