/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   nav.css                                            :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: joonasmykkanen <joonasmykkanen@student.    +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2024/06/16 07:37:06 by jmykkane          #+#    #+#             */
/*   Updated: 2024/08/16 12:28:10 by joonasmykka      ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

.nav {
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  display: flex;

  width: 100%;
  height: 4rem;

  z-index: 10;
  letter-spacing: 1px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-logo {
  width: 33%;
  font-size: 3rem;
}

.play_link {
  pointer-events: none;
  transition: 0.3s;
  font-size: 2rem;
  color: black;
  padding-top: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.nav__link {
  transition: 0.3s;
  font-size: 2rem;
  color: black;
  padding-top: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none !important;
}

.nav_button {
  padding-right: 2rem;
  align-items: center;
  padding-left: 2rem;
  display: flex;
  height: 106%;
}

.nav_button:hover {
  text-decoration: underline;
  background-color: var(--pink);
}

.nav-links {
  width: 100%;
  height: calc(100% - 0.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
}



/* PLAY BUTTON */
.play-button-div {
  justify-content: end;
  align-items: center;
  display: flex;
  height: 4rem;
  width: 33%;
}
.play-button {
  background-color: var(--orange);
  width: 12rem;
  height: 4rem;
  text-decoration: none;
  transition: 0.3s;
}
.icon-holder path {
  stroke: var(--black);
}
.play-button:hover {
  cursor: pointer;
  background-color: var(--black);
}

.play-button a, p {
    text-decoration: none !important;
}

.play-button:hover p,
.play-button:hover a,
.play-button:hover path {
  color: var(--white);
  stroke: var(--white);
}
.play-button-text-2 {
  justify-content: start;
  pointer-events: none;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}
.play-button-text {
  justify-content: start;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  padding-left: 1rem;
}
.icon-holder {
  align-items: center;
  display: flex;
  height: 100%;
  width: auto;
}
.play-button-icon {
  background: none;
  height: 50px;
  width: 50px;
}



/* PROFILE ICON */
.profile-icon-div {
  pointer-events: none;
  height: 4rem;
  width: 64px;
}
.profile-icon-div svg {
  transition: transform 0.15s;
}
.profile-icon-div:hover svg {
  transform: scale(110%);
}
.profile-button-icon {
  pointer-events: none;
  background: none;
  height: 48px;
  width: 48px;
}
.profile-button-holder {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}
.profile-link {
  transition: 0.3s;
}
.profile-link:hover {
  background-color: var(--yellow);
  cursor: pointer;
}
