.result-div {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.result-div-4p {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-contnet: center;
    align-items: center;
}

.winner-div-4p {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50%;
    width: 100%;
    gap: 2rem;
}

.loser-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
}


@keyframes scaleAnimation {
    0%, 100% {
            transform: scale(1); /* Normal size at the start and end */
    }
    50% {
        transform: scale(1.05); /* Scaled up to 1.5 times at the middle */
    }
}

.winner-text {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 96px !important;
    transition: transform 0.2s;
    animation: scaleAnimation 1s infinite;
}




.loser-card {
    height: 250px;
    width: 150px;
    background-color: var(--pink);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loser-card h3 {
    font-size: 32px !important;
}


.winner-card {
    height: 450px;
    width: 350px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    height: 350px;
    width: 250px;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.winner-card-1 {
    z-index: 5;
}

.winner-card-2 {
    z-index: 4;
}

.winner-card-3 {
    z-index: 3;
}




.winner-img {
    width: 100%;
}

.winner-username {
    font-size: 48px !important;
    margin-bottom: 2rem;
    margin-top: 0;
}

.continue-div {
    background-color: var(--black);
    margin-top: 4rem;
    padding: 0px 20px;
    color: var(--white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: ease 0.2s;
    text-decoration: none !important;
}


.continue-div:hover {
    border: none;
    cursor: pointer;
    color: var(--black);
    background-color: var(--yellow);
}

.continue-text {
    padding: 0;
    font-size: 48px !important;
    margin-top: 15px;
    margin-bottom: 5px;
}












